---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} Frederick Hörner. All rights reserved. - Made with <a
          class="text-gradient"
          href="https://astro.build/">Astro 🚀</a
        >
      </p>
    </div>
  </section>
</footer>
