---
import { Icon } from 'astro-icon'

const { src = '/memoji_hello.png' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot>Hey, I am <span class="text-gradient">Freddy 👋</span></slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon color-secondary" target="_blank" href="https://github.com/fHpro0">
            <Icon pack="ri" name="github-line" />
            Github
          </a>
          <a
            class="button has-icon color-gradient"
            target="_blank"
            href="https://www.linkedin.com/in/frederick-hörner-8942a82a8/"
          >
            <Icon pack="ri" name="linkedin-line" />
            LinkedIn
          </a>
          <a class="button has-icon" target="_blank" href="https://www.instagram.com/fH_pro0">
            <Icon pack="mdi" name="instagram" />
            Instagram
          </a>
        </div>
      </div>
      <div class="flex justify-center">
        <img class="w-96 rotate-6" src={src} alt="" decoding="async" />
      </div>
    </div>
  </div>
</section>
