---
const { icon, colored = true, wordmark = false, title = '' } = Astro.props
---

<p class="text-6xl" title={title}>
  <i class={'devicon-' + icon + '-plain' + (wordmark ? '-wordmark' : '') + (colored ? ' colored' : '')}></i>
</p>
